.websites {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
  margin: 2rem;
}

.websites a {
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: #000;
  font-weight: 700;
  padding: 0.5rem;
  text-decoration: none;
  transition: all 0.3s;
  z-index: 0;
}

.websites a:hover,
.websites a:focus {
  color: #00693d;
  outline: none;
  transform: scale(1.3);
  z-index: 1;
}

.websites span {
  margin-left: 0.3rem;
}

@media screen and (max-width: 430px) {
  .websites {
    gap: 0.2rem;
    margin: 0;
  }

  .websites a {
    font-weight: 400;
    padding: 0.3rem;
    border: 0.5px;
  }
}
