.toDo {
  background: rgba(255, 255, 255, 0.4);
  width: 700px;
  margin: 0 auto;
  text-align: center;
  padding: 1rem;
  font-size: 2rem;
}

.toDo li {
  position: relative;
  cursor: pointer;
  background: rgba(255, 251, 0, 0.4);
  margin: 0.3rem auto;
  padding: 0.3rem;
  text-align: start;
  width: 540px;
  list-style: none;
}

.toDo p {
  font-size: 1.5rem;
  padding: 2rem;
}

.active {
  font-weight: 100;
  opacity: 0.4;
  text-decoration: line-through;
}

.removeBtn {
  position: absolute;
  top: 0;
  right: 0;
  text-align: end;
  font-size: 2rem;
  z-index: 1;
}

.addTask input {
  width: 500px;
  height: 40px;
  font-size: 2rem;
}

.addTask button {
  background-color: #7c238c;
  color: #fff;
  font-size: 2rem;
  height: 40px;
  width: 40px;
}

.clearBtn {
  color: #fff;
  background-color: #7c238c;
  font-size: 2rem;
  padding: 0.2rem;
  margin-left: 0.5rem;
}

@media screen and (max-width: 430px) {
  .toDo {
    width: 428px;
  }

  .addTask input {
    width: 350px;
    height: 40px;
    font-size: 1rem;
  }

  .addTask button {
    font-size: 1rem;
  }

  .toDo li {
    font-size: 1.5rem;
    width: 370px;
  }

  .removeBtn {
    font-size: 1rem;
  }

  .clearBtn {
    font-size: 1rem;
  }
}
